*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: helvetica ;
  font-size: 22px;
  color: seashell;
  text-align: center;
  opacity: 0.9;
}

.cabecalho{
  border-bottom: 1px, solid seashell;
  padding: 10px;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: fixed;
  width: 100%;
}
.logo{
  height: 50px;
  width: auto;
}
.menu{
  display: flex;
  list-style-type: none;
  text-decoration: none;
  gap: 16px;
  text-decoration: underline;   
}
.menu_item{
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: seashell;
}


.missao{
  background-image: url(../images/img-mission-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.texto{
  background-color: black;
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding:10px;
}
.destaque{
  width: 1000px;
  margin: auto;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img{
  width: 300px;
  height: 200px;
}
.galeria{
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px 16px;
}


.local{
  background-image: url(../images/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 550px;
  width: 1200px;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.blocos_end{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.endereco{
  background-color: black;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
}
footer{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.rodape{
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.copyright{
  text-align: left;
}



